body {
    background-color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#heritage-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 30px;
    text-decoration: none;
    background-color: #be4a4a;
    color: #ffffff;
}

.form-item {
    margin: 8px 8px 0;
}

h1 {
    text-align: center;
    margin: 50px;
}

#sites-list {
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#sites-list > li {
    border: solid #494949;
    border-radius: 40px;
    padding: 15px;
    text-align: center;
    background-color: #be4a4a;
    color: #ffffff;
    margin: 5px;
}

.name-item {
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 8px 8px 0px;
}

.location-item {
    font-size: 20px;
    margin: 8px 8px 0px;
}

.owner-item {
    font-style: italic;
    font-size: 16px;
    margin: 8px 8px 0px;
}

.fee-item {
    font-size: 12;
    font-weight: bold;
    margin: 8px 8px 0px;
}

.owner-other-item {
    font-style: italic;
    font-size: 16px;
    margin: 8px 8px 0px;
}

input {
    border: solid 1px #494949;
    border-radius: 4px;
}

input[type=text]:focus {
    outline: none;
    border: 2px solid;
}

#submit, #delete {
    background-color: #ffffff;
    border: 2px solid #494949;
    font-weight: bold;
    margin: 5px 5px 0px;
    width: 80px;
    height: 30px;
}

#submit:hover, #delete:hover {
    background-color: #be4a4a;
    border: 2px solid #000000;
    color: #ffffff;
    cursor: pointer;
}

select {
    border: solid 1px #494949;
    border-radius: 4px;
}

select:focus {
    outline: none;
    border: 2px solid;
}